{
  "database":"<database name>",
  "host":"<database host/ip>",
  "port":1433,
  "username":"<database username>",
  "password":"<database password>",
  "sqlfile":"query.sql",
  "output":"output.xlsx"
}
